extends layout

block content
	if place!=null
		h1 Your place is #{place} amongst #{results.length} results

	table
		tr
			th Name
			th Error rate
			th Timestamp
		each result in results
			tr
				td #{result.name}
				td #{result.error}
				td #{result.timestamp}